.list-container {
  width: 100%;
  padding: 1rem;
  color: #000;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#dark .list-container {
  color: #fff;
}

#dark .todo-list {
  background-color: #000;
  color: #fff;
  border: 1px solid rgb(15, 14, 14);
  border-radius: 15px;
  background: rgb(44, 42, 42);
  transition: 0.2s;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(15, 14, 14);
  border-radius: 15px;
  background: rgb(238, 227, 227);
  transition: 0.2s;
}

#dark .todo-list:hover {
  background-color: rgb(22, 22, 26);
  color: #fff;
}

.todo-nobullet {
  text-align: left;
  list-style: none;
  word-wrap: break-word;
  width: 100%;
}

.buttons {
  display: flex;
  gap: 5px;
}

.todo-btn {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  padding: 2px 5px;
  max-width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

#dark .todo-btn {
  background-color: #fff;
  color: #000;
}

.todo-editing {
  font-size: 16px;
  padding: 10px;

  background: rgb(238, 227, 213);
  outline: none;
  border-radius: 10px;
  transition: 0.2s;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .todo-list {
    font-size: 14px;
  }

  .todo-editing {
    font-size: 14px;
  }

  .todo-btn {
    font-size: 16px;
  }

  .todo-nobullet {
    font-size: 14px;
  }

  .list-container {
    padding: 0.5rem;
  }
}
